.page-header
  %h1
    Surah
    %small
      %i.icon-double-angle-right
      The cave
.row
.col-xs-12
/ PAGE CONTENT BEGINS
#timeline-1
  .row
    .widget-box
      .widget-header.widget-header-small.header-color-dark
        %h6
          %i.icon-sort
          Options and display
        .widget-toolbar
          %a{"data-action" => "collapse", :href => "#"}
            %i.icon-chevron-up
          %a{"data-action" => "close", :href => "#"}
            %i.icon-remove
      .widget-body
        #block_option.row
          = form_for :surah, :url => {:controller => 'surahs', :action => 'index'}, :html => {:id => "frm_surahs"} do |f|
            .col-xs-4.col-sm-2.col-sm-offset-1
              %h3.row.header.smaller.lighter.blue
                %i.icon-cogs.bigger-125
                Actions
              %button.btn.btn-success.no-border{:type => "button"} Action 1
              %button.btn.btn-danger.no-border{:type => "button"} Action 2
              %button.btn.btn-info.no-border{:type => "button"} Action 3
            .col-xs-4.col-sm-3.col-sm-offset-1
              %h3.row.header.smaller.lighter.blue
                %i.icon-cogs.bigger-125
                Option of surah
              %label{:for => "select_surah"} Name :
              =select_tag 'select_surah', options_for_select(@surah_presenter.surahs.collect {|surah| ["#{surah.id} - #{surah.name_phonetic}", surah.id] }, 1),:class =>"form-control", :name => 'surah_id'
              %label{:for => "select_from_verse"} From verse :
              =select_tag 'select_from_verse', options_for_select(1..@surah_presenter.to_verse["max"]) , :class => 'form-control'
              %label{:for => "select_to_verse"} To verse :
              =select_tag 'select_to_verse', options_for_select(1..@surah_presenter.to_verse["max"]) , :class => 'form-control'

            .col-xs-4.col-sm-3.col-sm-offset-1
              %h3.row.header.smaller.lighter.blue
                %i.icon-cogs.bigger-125
                Option playing
              %label{:for => "select_recitator"} Recitator :
              =select_tag 'select_recitator', options_for_select(@surah_presenter.recitators.collect {|recitator| [recitator.value, recitator.name] }, 1),:class =>"form-control", :name => 'recitator_name'

              %label{:for => "select_traduction"} Traduction :
              %select#select_traduction.form-control
                %option None
                %option French
              %label{:for => "select_size"} Size :
              %select#select_size.form-control
                %option Small
                %option Medium
                %option Large
                %option Extra large
            #btn_go.col-xs-4.col-sm-10.col-sm-offset-1
              %p
                %button.btn.btn-danger.btn-block#btn-submit_surah{:type=>"submit"} Bismillah !
  .col-xs-4.col-sm-11.col-sm-offset-1
    %h3.row.header.smaller.lighter.blue
      %i.icon-signal.bigger-125
      Your progression
    .progress.progress-striped.active{"data-percent" => "25%"}
      .progress-bar.progress-bar-success{:style => "width: 25%;"}
    #surah_wrapper.col-xs-12.col-sm-10.col-sm-offset-1
    .timeline-container
      -@surah_presenter.ayahs.each do |ayah|
        .timeline-items
          .timeline-item.clearfix
            .timeline-info
              %i.timeline-indicator.btn.btn-default.no-hover.green
            .widget-box.transparent
              .widget-header.widget-header-small
                %span.widget-toolbar.no-border
                %span.widget-toolbar
                  %a{"data-action" => "collapse", :href => "#"}
                    %i.icon-chevron-up
              .widget-body
                .widget-main
                  .content_surah_arabic.lang_arab
                    =ayah
                  .space-6
                  .widget-toolbox.clearfix
                    .pull-right.action-buttons
                      %a{:href => "#"}
                        %button.btn.btn-xs.btn-success Very Good
                      %a{:href => "#"}
                        %button.btn.btn-xs Cancel
                      %a{:href => "#"}
                        %button.btn.btn-xs.btn-danger Bad
          .timeline-item.clearfix
