@import url(http://fonts.googleapis.com/earlyaccess/lateef.css);


.lang_arab
{
	font-family: "Lateef",PDMS_IslamicFont, _PDMS_IslamicFont, Tahoma, Arial;
	font-size: 60px;
	direction: rtl;
}

.toolbox-default{

}

#block_option
{
	#padding-bottom: 30px;
}

#block_option button{
	margin-bottom: 5px;

}
#block_option #btn-submit_surah{
    margin-top: 25px;
}

#surah_wrapper{
	
}

